@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

.show-tablet-mobile{
    display: none;
}

p{
    margin-bottom: 0;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --courgette: 'Courgette', cursive;
    --lato: 'Lato', sans-serif;
    --barlow: 'Barlow', sans-serif;
}

/*MENÚ DE NAVEGACIÓN*/

.navbar-collapse{
    flex-grow: 0;
}

/* .header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
}

.header__img {
    width: 200px;
    height: auto;
}

.nav__ul {
    width: 325px;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__li {
    list-style: none;
}

.link {
    color: white;
    font-family: sans-serif;
} */

/******Inicio******/
/*BANNER*/

.banner{
    background-color: #f4eeee;
}

.banner__padding{
    padding: 3rem;
}
/* .banner__img {
    width: 100%;
    height: auto;
    position: relative;
} */

/* .banner__text-container {
    position: absolute;
    top: 225px;
    right: 800px;
    width: 500px;
} */

.banner__title {
    font-size: 4rem;
    
}

.banner__subtitle {
    font-size: 1.25rem;
    line-height: 30px;
    margin: 10px 0px;
    font-family:sans-serif;
}

.banner__button {
    background-color: #d9ae5c;
    border: solid 1px #d9ae5c;
    color: white;
}

/*SECCIÓN PRODUCTOS DESTACADOS*/

/* .destacados {
    padding: 60px 40px;
} */

.destacados__title {
    color: #503629;
    font-family: sans-serif;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

/* .destacados__productos-container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.product {
    width: 300px;
    height: auto;
    padding: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 0 3px 8px #ddd;
    border: 1px solid #eee;
}

.product__img {
    width: 240px;
    height: 240px;
    margin: 20px 0px;
}

.product__description {
    color: #503629;
    font-family: sans-serif;
    font-size: 15.4px;
    font-weight: 100;
    margin-bottom: 10px;
}

.product__price {
    font-size: 1.0em;
    font-weight: 600;
    color: #807451;
}



.destacados__button-container {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}


.link-black {
    color: black;
}

.link-black:hover {
    color: white;
} */

.product__button {
    font-weight: 600;
    text-transform: inherit;
    border: 1px solid #d9ae5c;
    background-color: #d9ae5c;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
    margin: 0;
    border-radius: 4px;
    width: 100%;
    font-family: sans-serif;
}

.button__ver-mas {
    
    letter-spacing: 3px;
    font-size: .933rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #313234;
    padding: 0.767rem 1.557rem;
    margin-top: 20px;
}

.button__ver-mas:hover {
    background-color: #313234;
    color: white;
}

.btn{
    --bs-btn-border-radius: 0;
}

/*SECCIÓN DE EL BLOG*/

.blog {
    padding: 60px 40px;
}

.blog__card-container{
    --bs-card-border-radius: 0;
    margin-top: 30px;
}

.blog__title-container {
    text-align: center;
    margin-bottom: 40px;
}

.blog__title {
    color: #503629;
    font-family: sans-serif;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.blog__subtitle {
    margin-top: 5px;
    font-size: 20px;
    font-family: var(--barlow);
    font-weight: 200;
}

.post {
    background-color: white;
    box-shadow: 0 3px 8px #ddd;
    cursor: pointer;
    --bs-card-border-color: transparent;
    border: 0;
}

.post__img {
    height: 255px;
    object-fit: cover;
}

/* .blog__posts-container {
    display: flex;
    justify-content: space-around;
}



.post__img {
    width: 100%;
    height: 76%;
    object-fit: cover;
}

.post__description-container {
    height: 50px;
    padding: 1.25rem;
} */

.post__category {
    font-family: var(--barlow);
    margin: 0%;
}

.post__title {
    font-family: var(--barlow);
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0%;
}

.blog__button-container {
    text-align: center;
}

.button__ver-blog {
    cursor: pointer;
    letter-spacing: 3px;
    font-size: .933rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #313234;
    padding: 0.767rem 1.557rem;
    margin-top: 50px;
}

.button__ver-blog:hover {
    background-color: #313234;
    color: white;
}

/*SECCIÓN DE EMPRESAS*/
.empresas__title-container {
    padding: 30px;
}

.empresas__title {
    color: #503629;
    font-family: sans-serif;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.empresas__info-flex {
    display: flex;
}

.empresas__description-container {
   
    font-family: sans-serif;
}

.empresas__description-p {
    line-height: 1.5rem;
}

.description {
    margin-bottom: 20px;
}

.empresas__description-ul {
    line-height: 1.5rem;
}

.empresas__button {
    border-radius: 20px;
    padding: 10px 20px;
    letter-spacing: 1px;
    background-color: #ff5d2a;
    border: solid 1px #ff5d2a;
    color: white;
    margin-bottom: 30px;
}

.empresas__img-container {
    text-align: center;
}

.empresas__img {
    width: 100%;
}

/*FOOTER*/
.footer {
    background-color: black;
    padding: 20px;
}

.footer__copyright {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}


/******Productos******/
/* .container {
    margin: 5% 7%;
} */

.page__title {
    font-family: var(--courgette);
    font-size: 65px;
}

.productos__title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0 2rem 0;
    border-bottom: 5px solid #000;
}

.productos__container {
    display: flex;
    justify-content: space-around;
}

.producto {
    width: 300px;
    height: auto;
    padding: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 0 3px 8px #ddd;
    border: 1px solid #eee;
}

.producto__img {
    height: 304.4px;
    padding: 16px 16px 0px;
}

/* .tabletas,
.sinAzucar {
    margin-top: 90px;
} */

/******Blog******/

.segunda-fila,
.tercera-fila {
    margin-top: 80px;
}


/* .blog-post {
    width: 380px;
    height: 345px;
    background-color: white;
    box-shadow: 0 3px 8px #ddd;
    cursor: pointer;
} */

.post__creditos {
    font-family: var(--barlow);
}

/******Nosotros******/
.nosotros {
    display: flex;
}

.nosotros__img-container {
    width: 100%;
    padding: 100px 0px 100px 100px;
}

.nosotros__img {
    width: 100%;
    height: auto;
}

.nosotros__info-container {
    width: auto;
    padding: 100px 92px 100px 100px;
}

.nosotros__title {
    font-family: var(--courgette);
    font-size: 28px;
    margin: 75px 0px 43px 0px;
}

.nosotros__text {
    font-family: var(--lato);
    line-height: 1.6rem;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: justify;
}

/******Contacto******/
.contacto {
    display: flex;
    margin: 70px 0px 20px 0px;
}

.contacto__info-container {
    width: 60%;
    padding: 0px 0px 0px 100px;
    font-family: var(--montserrat);
}

.contacto__title {
    color: #503629;
    font-family: sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
}

.contacto__name,
.contacto__tel {
    margin-top: 20px;
}

.contacto__form {
    display: flex;
    flex-direction: column;
}

.contacto__label {
    margin-top: 20px;
    font-family: var(--montserrat);
}

.contacto__input {
    height: 40px;
    width: auto;
}

.contacto__button {
    align-self: flex-start;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    letter-spacing: 1px;
    background-color: #ff5d2a;
    border: solid 1px #ff5d2a;
    cursor: pointer;
    color: white;
}



@media (max-width: 576px){
    .hidden-tablet-mobile{
        display: none;
    }
    .hidden-mobile{
        display: none;
    }
    .show-tablet-mobile{
        display: block;
    }
    /*Banner*/
    .banner__padding{
        padding: 1rem;
    }
    .banner__text-center{
        text-align: center;
    }
    .banner__title{
        font-size: 3rem;
        margin-top: 30px 0px 8px;
        text-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
    }
    .banner__subtitle{
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .banner__button {
    background-color: #d9ae5c;
    border: solid 1px #d9ae5c;
    color: white;
    }
    .banner__img{
        width: 100%;
        height: auto;
       padding: 75px 50px 50px;
    }

    /*destacados del mes*/
    .product__card-margin{
        margin: 20px 30px;
    }

    /*blog*/
    .blog__subtitle {
        font-size: 15px;
    }
    .post{
        margin-top: 20px;
    }
    /*empresas*/
    .empresas__description-p{
        text-align: justify;
    }
    .empresas__description-container {
        margin: 0px 15px;
    }

    /*pagina blog*/
    .blog-margin{
        margin-top: 0px;
    }

    .post__img {
        height: 170px;
    }

    /*footer*/
    .footer__copyright{
        font-size: 17px;
    }
}

@media (max-width: 950px){
    .hidden-tablet-mobile{
        display: none;
    }
    .show-tablet-mobile{
        display: block;
    }
/******INICIO******/
    /*banner*/
    .banner__text-center{
        text-align: center;
    }
    .banner__img{
        margin-top: 40px;
    }
    /*destacados*/
    .product__card-margin{
        margin-bottom: 20px;
    }
    /*empresas*/
    .empresas__description-p{
        text-align: justify;
    }


}